@using WebApplication1.Controllers
@{
    ViewBag.Title = "Home Page";
}
<style>
    .welcome {
        text-shadow: 2px 2px gainsboro;
        font-weight: bold;
        color: black;
        position: absolute;
        margin: auto;
        font-size: xx-large;
        z-index: 99999999;
        text-align: center;
        width: 100%
    }
</style>

<div class="jumbotron" style="padding: 0px ">

    <div class="row">
        <div class="col-md-12"><img src="~/Assets/website.jpg" width="100%" /></div>
        <div class="col-md-12 welcome" data-animate-scroll='@ViewBag.welcome'>
            <em>Welcome To DSM Farm</em>

        </div>
    </div>



</div>

<div class="row ">
    <div class="col-md-12 ">
        <h2>Home</h2>
        <p>
            Welcome to TruMadu and our wonderful exotic honey! Here you will find the most beautiful <em><u> Stingless Bee Honey </u> </em>  (or Kelulut in Malaysia) and Tualang Honey. Even exotic honeys are not created equally, and we have searched Malaysia to find the very best.
            You can read some of the latest research on the properties and health <em> <u>benefits </u> </em> of these rare honeys and make up your own mind. We might just have re-discovered what ancient honey gatherers have always known…great tasting, natural honey is good for you!!

        </p>
        <p>

            If you already love Kelulut or Tualang Honey but are worried about all the fakes honey around, learn how we beat the fakers and make certain you can rely on our TruMadu honey.
            Try a little or a lot. If you become regular customers of ours, we would love to give you the benefits of our TruMadu Club including access to super rare honey!

        </p>

        <h5 class="names">

            Best wishes,<br />
            David and Soraya

        </h5>


    </div>

</div>

<hr />



<div class="row ">
    <div class="col-md-12">
        <h2>Special Bees</h2>

        <h4>
            STINGLESS BEES

            The bees
        </h4>



    </div>



    <div class="col-md-12">
        <div class="col-md-6" data-animate-scroll='@ViewBag.move'>
            <img width="80%" class="aniview" src="~/Assets/b1.jpg" />
        </div>

        <div class="col-md-6" data-animate-scroll='@ViewBag.move'>
            <img width="80%" class="aniview" src="~/Assets/b2.jpg" />
        </div>
    </div>

    <div class="col-md-12">



        <div class="col-md-12">

            <p>

                Stingless bees have been around for 65 million years. There are over 50 different species and we have about 35 in Malaysia. They are very different from ordinary Apis bees: tiny, forest living, and fly only short distances. This means their habitat needs to be just right to keep them healthy and making the tastiest honey.
                Stingless bees get to places that honey bees cannot which means they can feed on a huge range of flowers. Some believe that this may explain why Kelulut is high in powerful anti-oxidants. See for yourself below.



                Tiny stingless bee vs Apis bee Stingless bee hive
                <hr />
                <b>
                    Their honey
                </b>
                Kelulut is a complex mixture of carbohydrates, mostly glucose and fructose, organic acids, amino acids, minerals, vitamins, enzymes, pollens, and pigments (Crane 1987, Fallico et al. 2004). In raw form, straight from the hive, Kelulut contains less sugar than ordinary honey. Raw honey can spoil because the sugar concentration is not high enough to kill microbes. For this reason, water is usually removed to increase the sugar concentration so that honey can be stored for long periods. This does increases the sweetness but you should still get that unique Kelulut flavour.

            </p>

        </div>

    </div>
</div>

<hr />



<div class="row">
    <h2>Heath Benefits</h2>
    <div class="col-md-12">
        <div class="col-md-12" data-animate-scroll='@ViewBag.move'>

            <img width="80%" class="aniview" src="~/Assets/honeyBenefits.jpg" />
        </div>
    </div>

    <div class="col-md-12">
       



        <p>

            A lot of claims have been made for the benefits of consuming stingless bee honey.
            <hr/>

            The truth is, research is promising but is at an early stage but is promising. It seems that stingless bee honey could be a very effective anti-bacterial agent and may even help prevent some types of cancer. There is some evidence that stingless bee honey could be better for you than the world-famous Manuka honey! Below are listed some of our favourite scientific papers so have a read for yourself. We will keep you updated as more is discovered but please send us any information you have on the health benefits of Kelulut.
            What we can say from our experience is that stingless bee honey is fantastic for dry coughs and sore throats… and we LOVE the taste!

            <br/>
            Stingless bee honey and its potential value: a systematic review <bt/>
            1,4Yaacob, M., 2Rajab N.F., 3Shahar, S. and 1*Sharif, R. <br/>
            http://www.myfoodresearch.com/uploads/8/4/8/5/84855864/fr-2017-212.pdf


            <br/>
            Directory of Open Access Journals<br/>
            https://worldwidescience.org/topicpages/s/stingless+bee+honey.html

            <br/>
            Stingless bees create health buzz<br/>
            Janel Shorthouse<br/>
            http://www.abc.net.au/local/stories/2012/06/08/3521249.htm

            <br/>
            Chemo preventive Properties and Toxicity of Kelulut Honey in Sprague Dawley Rats Induced with Azoxymethane.<br/>
            Latifah Saiful Yazan,1,2 Muhamad Firdaus Shyfiq Muhamad Zali,1 Razana Mohd Ali,3 Nurul Amira Zainal,1 Nurulaidah Esa,2 Sarah Sapuan,2 Yong Sze Ong,2 Yin Sim Tor,2 Banulata Gopalsamy,1 Fui Ling Voon,1 and Sharifah Sakinah Syed Alwi1<br/>
            https://www.hindawi.com/journals/bmri/2016/4036926/

            <br/>
            Biological and therapeutic effects of honey produced by honey bees and stingless bees: a comparative review.<br/>
            Pasupuleti Visweswara Rao, Kumar Thevan Krishnan, Naquib Salleh, Siew Hua Gan<br/>
            https://www.sciencedirect.com/science/article/pii/S0102695X16301843

            <br/>
            In vitro cytotoxicity of Indonesian stingless bee products against human cancer cell lines.<br/>
            Paula M. Kustiawan1,2, Songchan Puthong3, Enos T. Arung2, Chanpen Chanchao4*<br/>
            https://www.ncbi.nlm.nih.gov/pubmed/25183275




        </p>



    </div>

</div>




<div class="row">
    <div class="col-md-12">
        <h2>TUALANG HONEY</h2>
        <h4>The bees</h4>

        <p>
            Tualang honey gets its name from the Tualang tree but is the giant honey bee (Apis Dorsata) that does all the work! These giant bees build their hives high in the Malaysian rainforests. These hives are hard to reach and well defended! Brave and skilled local climbers harvest the honey for us…in harmony with nature.



        </p>
        <hr />

        <h4>
            Their honey
        </h4>
        <p>
            Like Kelulut, Tualang Honey is a complex mixture of carbohydrates, mostly glucose and fructose, organic acids, amino acids, minerals, vitamins, enzymes, pollens, and pigments. In raw form, straight from the hive, Tualang contains less sugar than ordinary honey and can spoil because the sugar concentration is not high enough to kill microbes. For this reason, water is usually removed to increase the sugar concentration so that honey can be stored for long periods. Removal of some water increases the sweetness and you still get that unique Tualang flavour. However, like Kelulut, not all Tualang Honey is created equally! We have scoured Malaysia for the very best tasting honey- a rotten job but someone has to do it! In our search, we have found some super rare and amazing honey…including Black Tualang! There isn’t enough rare honey to share with everyone, but we will share what we can with our TruMadu Club members. However, it is all delicious!
        </p>


        <h4>
            Heath Benefits
        </h4>
        <p>
            A lot more research has been done on Tualang Honey than Kelulut and a lot of claims have been made for the benefits of taking Tualang honey. We share below some of our favourite papers, so read for yourself!
            <br />
            Research is still limited but is promising. Tualang honey could be effective anti-bacterial and anti-fungal agents and there is evidence that may be beneficial in the treatment of breast cancer. That Tualang honey may well be as good for you as the world-famous Manuka honey- and we think it tastes a lot better!
            Below are listed some of our favourite scientific papers so have a read for yourself.  We will keep you updated as more is discovered but please send us any information you have on the health benefits of Tualang. What we can say is that the taste of it boosts our happiness levels!

        </p>

        <h4>
            TruMadu HONEY
        </h4>
        <p>
            All honey is not made equal…as we hope to prove to you. Great honey made with passion and integrity.
        </p>
        <h4>
            Single Pot No.1
        </h4>

        <p>
            Our first “Single Pot” is Black Tualang honey. This honey is extremely rare, and we snap it up whenever we find it! We think the taste is incredible- the only problem is there is so little of it. This honey is reserved for our TruMadu Club members but a little is added to “Soraya’s Blend”- so everyone can experience some of the qualities of this fantastic honey.


        </p>


        <h4>
            Malaysian Sweet
        </h4>
        <p>
            This is a beautiful Tualang honey that we have sourced from Pahang. The flavour is intense and balances the sweetness perfectly.

        </p>



        <h4>
            Malaysian Edge
        </h4>
        <p>
            A beautiful blend of Malaysian Kelulut but with a sharper taste…or those who like to have their sweet to have a bit more of an edge!
        </p>


        <h4>
            Malaysian Tang
        </h4>
        <p>
            This honey tastes of where it comes from…above all else. Our current favourite is from bees feeding on coconut trees. Catch the Tang while you can…it is extremely rare and when its gone its gone!
        </p>


        <h4>
            Soraya’s Blend
        </h4>
        <p>
            This is a subtle mixture of the very best Tualang and Kelulut to give a taste that cannot be found in any single honey. We love it and hope you will.
        </p>


        <h4>
            Malaysian Selection
        </h4>
        <p>
            Malaysian Sweet <br />
            Malaysian Edge   <br />
            Soraya’s Blend    <br />

        </p>

        <h4>
            Our promise to you

            Beating the fakers

        </h4>
        <p>
            As you may know, a lot of our Kelulut and Tualang honey is fake. Some reports1 put the level of fake Kelulut as high as 80%! Something needs to be done or these fakers will destroy the reputation of our beloved Malaysian honey.

            Our TruMadu brand has been set up to ensure that our customers get what they pay for. Here is how we beat the fakers:
            1.	We search Malaysia for growers who share our values.
            2.	All of our TruMadu growers sign up to the TruMadu Promise. Nothing can be added to TruMadu honey and TruMadu bees must obtain ALL of their food from the flowers, leaves and stems around them. They must never be fed sugar of any type.
            3.	We use the most advanced tests available and our own secret in-house tests to prove that the honey we receive is genuine.
            4.	We test every supply of honey before it can be called TruMadu. If a farmer fails to pass our tests (even once), they will NEVER supply us again.

        </p>


        <h4>
            Our Growers
        </h4>
        <p>
            We understand and appreciate the knowledge, hard work and care that goes into producing every drop of stingless bee honey…because we produce our own in the heart of a Malaysian rainforest.
            Our partner growers and harvesters share our “Trumadu” values: openness, honesty and integrity. Our growers have all agreed to high production standards and the absolute integrity of their products.
            Trumadu products are sourced to the highest standards and we prove it! We have developed scientific tests to prove the authenticity of the honey our Trumadu growers produce.
            Our growers and suppliers expect testing that is frequent, rigorous and conducted by us…and are happy about that. Together we will build a reputation for the quality and authenticity of TruMadu Malaysian honey.

            All of this means that TruMadu honey is exactly what we say it is:
            TruMadu
            Wild and true
            Harvested
            For you

        </p>


        <h4>TruMadu Club </h4>

        <p>
            If you love our honey half as much as we do you will be pretty frequent customers…and we want to say “Thank you”! We say thanks in two practical ways. We give you advance notice of rare and delicious honey that we discover…often in tiny quantities. If you decide to order from us every month your will receive a bottle of our best available honey free every year.
            Sign up with your first order by contacting us at:
            soraya@dsmfarm.com

        </p>


        <h4>
            CONTACT US
        </h4>

        <p>
            Please contact us any time with general enquiries…or orders at trumadu@dsmfarm.com
        </p>



        <h4>

            About Us

        </h4>

        <p>
            David is a PhD Chemist and inventor with a background in pharmaceuticals.
            Soraya introduced David to Stingless Bee Honey in 2015 and we have loved it ever since. Now we are growing it and finding brilliant honey with our friends all over Malaysia.

        </p>
    </div>

</div>
<script src="~/Scripts/TweenMax.min.js"></script>
<script src="~/Scripts/ScrollToPlugin.min.js"></script>
<script src="~/Scripts/EasePack.min.js"></script>
<script src="~/Scripts/animate-scroll.js"></script>
<script src="~/Scripts/libraries.min.js"></script>
<script src="~/Scripts/foundation.min.js"></script>
<script src="~/Scripts/animationcustom.js"></script>
<script src="~/Scripts/myanimations.js"></script>

<script>



    $(function () {

        initMyCustomAction();

        $(document).animateScroll();
    });
</script>
